.contact {
  font-family: 'Roboto', sans-serif;
  color:#1a1a1a;
  background-color:#18206f;
}

button[type="submit"] {
  width: 100%;
  background-color: #18206f !important;
  color: rgb(255, 255, 255);
  border: none;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.btn:hover {
  background-color: #bbcffa !important;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #18206f !important;
}

.btn:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(125, 8, 174, 0.5);
}

header {
  background-color: #1a1a1a;
  padding: 1rem;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

nav {
  display: flex;
  align-items: center;
  height: 60px;
}

.navbar {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  justify-content: space-between;
}

.navbar li {
  margin: 0 1rem;
}

.navbar li.logo {
  flex-grow: 1;
}

.navbar li.logo img {
  height: 40px;
  width: auto;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  padding-top: 120px;
  padding-bottom: 80px;
  width: 100%;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 120px;
  margin-bottom: 2rem;
}

.contact-us-title {
  color:#ffffff;
}

form {
  background-color: #d5c5c8;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-group button[type="submit"] {
  display: block;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

input, textarea {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #b74848;
  border-radius: 4px;
  font-size: 1rem;
}

textarea {
  height: 150px;
  resize: vertical;
}

.success-message {
  background-color: #d4edda;
  color: #155724;
  padding: 2rem;
  border-radius: 8px;
  text-align: center;
}

.success-message h2 {
  margin-bottom: 1rem;
}

.notification-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #d4edda;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1001; /* make sure it's on top of the form */
  animation: fadeIn 0.3s ease-in-out;
}

.notification-content {
  text-align: center;
}

.notification-content h2 {
  margin-bottom: 1rem;
}

.notification-content p {
  margin-bottom: 2rem;
}

.notification-content button {
  background-color: #18206f;
  color: #ffffff;
  border: none;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.notification-content button:hover {
  background-color: #bbcffa;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #18206f;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}