.event2 {
  font-family: 'Roboto', sans-serif;
  color: #1a1a1a;
  background-color: #18206f;
}

.event2-title {
  color: #fff;
}

.event2 > main > img {
  width: 100vw;
  max-width: 100%;
  height: 250px;
  margin: 20px auto;
  object-fit: cover;
}

.event2 > main > h1 {
  margin-bottom: 20px;
}

.event2 > main > p {
  margin-bottom: 30px;
}

.event2 > main > div.checkout-box > h2.title2 {
  color: #fff;
}

.event2 > main > p {
  color: #fff;
}

.event2 footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff !important;
}

.checkout-box > form > button[type="submit"] {
  background-color: #4CAF50 !important;
  color: #fff !important;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

.checkout-box > form > button[type="submit"]:hover {
  background-color: #dfe1f7 !important;
  color: #4CAF50 !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.checkout-box form {
  margin-bottom: 20px;
}

.checkout-box input[type="text"], 
.checkout-box input[type="tel"], 
.checkout-box input[type="email"] {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
}

.error-text {
  color: red;
  font-size: 0.75rem;
  margin-bottom: 5px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #dff0d8 !important;
  padding: 20px;
  border-radius: 10px;
  width: 60% !important;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.modal-content h2 {
  margin-bottom: 1rem;
}

.modal-content p {
  margin-bottom: 2rem;
}

.modal-content button.proceed-button {
  background-color: #4CAF50 !important;
  color: #fff !important;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 0 auto 20px;
  width: 300px;
  font-size: 1rem;
}

.modal-content button.proceed-button:hover {
  background-color: #dfe1f7;
  color: #4CAF50;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.modal-content .close-button {
  background-color: #FF0000;
  color: #FFFFFF;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 20px auto 0;
  width: 300px;
  font-size: 1rem;
}

.modal-content .close-button:hover {
  background-color: #dfe1f7;
  color: #FF0000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
