html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.home {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the container fills the viewport height */
  position: relative;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.overlay {
  position: relative;
  z-index: 1;
  flex: 1; /* Allow it to take the available space and push the footer to the bottom */
}

/* Transparent Black Overlay */
.home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3); 
  z-index: 0; 
}

nav {
  display: flex;
  align-items: center;
  height: 60px;
}
.navbar {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  justify-content: space-between; 
}
.navbar li {
  margin: 0 1rem;
}
.navbar li.logo {
  flex-grow: 1;
}
.navbar li.logo img {
  height: 40px;
  width: auto;
}

.hero {
  background: linear-gradient(to right, rgba(23, 37, 90, 0.8), rgba(201, 64, 101, 0.8));
  padding: 100px 0;
  text-align: center;
}

.hero-image {
  width: 80%;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.wordart {
  font-family: 'Brush Script MT', cursive;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero-video {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.journey {
  background: #1a1a1a;
}

.journey-title {
  font-size: 2.5rem;
  color: #f8f9fa;
}

.step {
  background: #2b2b2b;
  color: #fff;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.step:hover {
  transform: translateY(-10px);
  background: #c94065;
}

footer {
  background-color: #1a1a1a;
  color: white;
  padding: 2rem;
  position: relative;
  width: 100%;
}

footer a {
  color: #ccc;
  text-decoration: none;
  transition: color 0.3s ease;
}

footer a:hover {
  color: white;
}

@media only screen and (max-width: 768px) {
  .hero h1 {
    font-size: 3rem;
  }

  .hero h2 {
    font-size: 1.5rem;
  }

  .hero-video {
    width: 100%;
  }

  .step {
    margin-bottom: 2rem;
  }

  .navbar .navbar-collapse {
    background:  #2b2b2b;
  }
}
