html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  cursor: url('../../public/magnifying-glass-solid.svg'), auto;
}

.home {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.backgroundVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.overlay {
  position: relative;
  z-index: 1;
  flex: 1;
}

.home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 0;
}

.navbar {
  padding: 0.8rem 0rem;
}

.navbar .container {
  max-width: 100%;
}

.navbar-collapse .navbar-nav {
  position: relative;
}

.navbarBrandImg {
  height: 50px;
}

.navItem {
  position: relative;
  padding-left: 0.5em;
  font: normal normal normal 20px/24px Roboto;
  padding-right: 0.5em;
}

.navLink {
  color: #fffffff2 !important;
}

.hero {
  background: linear-gradient(to right, rgba(23, 37, 90, 0.8), rgba(201, 64, 101, 0.8));
  padding: 80px 10px;
  margin: 50px 0;
  text-align: center;
  color: #ffffff !important;
}

.wordart {
  font-family: 'Brush Script MT', cursive;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.heroVideo {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.journeyTitle {
  font-size: 2.5rem;
  color: #f8f9fa;
}

.step {
  background: rgba(23, 37, 90, 0.8);
  color: #fff;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.step:hover {
  transform: translateY(-10px);
  background: #c94065;
}

footer {
  background-color: #1a1a1a;
  color: white;
  padding: 2rem;
  position: relative;
  width: 100%;
}

footer a {
  color: #ccc;
  text-decoration: none;
  transition: color 0.3s ease;
}

footer a:hover {
  color: white;
}

@media only screen and (max-width: 768px) {
  .hero h1 {
    font-size: 3rem;
  }

  .hero h2 {
    font-size: 1.5rem;
  }

  .heroVideo {
    width: 100%;
  }

  .step {
    margin-bottom: 2rem;
  }
}
