.policy{
    width: 100%;
    color: white;
    padding: 0px;
    margin: 0;
    background-color: #18206f;
    .policy-container{
        display: flex;
        flex-direction: column;
        gap: 10px;
        // border: 1px solid red;
        h3{
            font-size: 21px;
            text-align: center;
            padding-bottom: 50px;
        }

        h1{
            font-size: 48px;
        }

        .policy-card{
            background-color: #D5C5C8 ;
            padding: 10px;
            padding-left: 20px;
            padding-right: 20px;
            // color: black;
            padding-top: 15px;
            border-radius: 10px;
        }

        .cards-container{
            width: 100%;
            color: #212529;
            gap: 40px;
            display: flex;
            flex-direction: column;
            h2{
                font-size: 21px;
                // text-align: center;
            }
        }

        // .policy-content-container{
        //     padding: 30px;
        //     // width: 1200px;
        //     overflow-y: scroll;
        //     border: 1px solid black;
        //     // border-radius: 12px;
        //     height: 500px;
        //     color: black;
        //     h2{
        //         font-size: 21px;
        //     }
        //     background-color: white;
        // }
    }   
}